-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: sigma_db
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `acciones_evento`
--

DROP TABLE IF EXISTS `acciones_evento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `acciones_evento` (
  `id_accion` int unsigned NOT NULL AUTO_INCREMENT,
  `id_evento` int unsigned NOT NULL,
  `tipo_accion` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'comentario',
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `estado_nuevo` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_accion` int unsigned DEFAULT NULL,
  `fecha_accion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_accion`),
  KEY `id_evento` (`id_evento`),
  KEY `usuario_accion` (`usuario_accion`),
  CONSTRAINT `acciones_evento_ibfk_1` FOREIGN KEY (`id_evento`) REFERENCES `eventos` (`id_evento`) ON DELETE CASCADE,
  CONSTRAINT `acciones_evento_ibfk_2` FOREIGN KEY (`usuario_accion`) REFERENCES `supervisores` (`id_supervisor`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `acciones_evento`
--

LOCK TABLES `acciones_evento` WRITE;
/*!40000 ALTER TABLE `acciones_evento` DISABLE KEYS */;
/*!40000 ALTER TABLE `acciones_evento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clasificaciones`
--

DROP TABLE IF EXISTS `clasificaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clasificaciones` (
  `id_clasificacion` int unsigned NOT NULL AUTO_INCREMENT,
  `nombre_clasificacion` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_clasificacion`),
  UNIQUE KEY `nombre_clasificacion` (`nombre_clasificacion`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clasificaciones`
--

LOCK TABLES `clasificaciones` WRITE;
/*!40000 ALTER TABLE `clasificaciones` DISABLE KEYS */;
INSERT INTO `clasificaciones` VALUES (1,'Conductual','Evento relacionado con una conducta o comportamiento no permitido durante la operaci├│n',1),(2,'Registrado','Evento detectado por la IA que corresponde a una maniobra, condici├│n operativa o situaci├│n justificada',1);
/*!40000 ALTER TABLE `clasificaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `etiquetas`
--

DROP TABLE IF EXISTS `etiquetas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `etiquetas` (
  `id_etiqueta` int unsigned NOT NULL AUTO_INCREMENT,
  `nombre_etiqueta` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `estado` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_etiqueta`),
  UNIQUE KEY `nombre_etiqueta` (`nombre_etiqueta`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `etiquetas`
--

LOCK TABLES `etiquetas` WRITE;
/*!40000 ALTER TABLE `etiquetas` DISABLE KEYS */;
INSERT INTO `etiquetas` VALUES (1,'Falso positivo',1),(2,'Fatiga cr├¡tica',1),(3,'Inevitable',1),(4,'Estacionado',1),(5,'Maniobra',1),(6,'Pruebas',1),(7,'Volante suelto',1),(8,'Lectura de indicadores',1),(9,'Uso del radio',1),(10,'Fatiga moderada',1),(11,'Uso del tel├®fono confirmado',1),(12,'Obstrucci├│n de c├ímara',1),(13,'Anotaciones durante operaci├│n',1),(14,'Desconexi├│n de la c├ímara',1);
/*!40000 ALTER TABLE `etiquetas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eventos`
--

DROP TABLE IF EXISTS `eventos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `eventos` (
  `id_evento` int unsigned NOT NULL AUTO_INCREMENT,
  `fecha_evento` date NOT NULL,
  `hora_evento` time NOT NULL,
  `turno` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_operativa` date DEFAULT NULL,
  `id_operador` int unsigned NOT NULL,
  `id_maquina` int unsigned NOT NULL,
  `id_tipo_evento` int unsigned NOT NULL,
  `id_etiqueta` int unsigned DEFAULT NULL,
  `id_clasificacion` int unsigned DEFAULT NULL,
  `etiqueta` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Pendiente',
  `autorizado` tinyint(1) NOT NULL DEFAULT '0',
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `fecha_registro` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_evento`),
  KEY `fk_evento_operador` (`id_operador`),
  KEY `fk_evento_maquina` (`id_maquina`),
  KEY `fk_evento_tipo` (`id_tipo_evento`),
  KEY `fk_evento_etiqueta` (`id_etiqueta`),
  KEY `fk_evento_clasificacion` (`id_clasificacion`),
  CONSTRAINT `fk_evento_clasificacion` FOREIGN KEY (`id_clasificacion`) REFERENCES `clasificaciones` (`id_clasificacion`),
  CONSTRAINT `fk_evento_etiqueta` FOREIGN KEY (`id_etiqueta`) REFERENCES `etiquetas` (`id_etiqueta`),
  CONSTRAINT `fk_evento_maquina` FOREIGN KEY (`id_maquina`) REFERENCES `maquinas` (`id_maquina`),
  CONSTRAINT `fk_evento_operador` FOREIGN KEY (`id_operador`) REFERENCES `operadores` (`id_operador`),
  CONSTRAINT `fk_evento_tipo` FOREIGN KEY (`id_tipo_evento`) REFERENCES `tipos_eventos` (`id_tipo_evento`)
) ENGINE=InnoDB AUTO_INCREMENT=569 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eventos`
--

LOCK TABLES `eventos` WRITE;
/*!40000 ALTER TABLE `eventos` DISABLE KEYS */;
/*!40000 ALTER TABLE `eventos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maquinas`
--

DROP TABLE IF EXISTS `maquinas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `maquinas` (
  `id_maquina` int unsigned NOT NULL AUTO_INCREMENT,
  `nombre_maquina` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo_maquina` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado` tinyint(1) NOT NULL DEFAULT '1',
  `fecha_registro` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_maquina`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maquinas`
--

LOCK TABLES `maquinas` WRITE;
/*!40000 ALTER TABLE `maquinas` DISABLE KEYS */;
INSERT INTO `maquinas` VALUES (1,'CAT7','Cargador',1,'2026-07-21 03:36:40'),(2,'CAT8','Cargador',1,'2026-07-21 03:36:40'),(3,'CAT9','Cargador',1,'2026-07-21 03:36:40'),(4,'CAT10','Cargador',1,'2026-07-21 03:36:40'),(5,'TC502','Equipo de transporte',1,'2026-07-21 03:36:40');
/*!40000 ALTER TABLE `maquinas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `operadores`
--

DROP TABLE IF EXISTS `operadores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `operadores` (
  `id_operador` int unsigned NOT NULL AUTO_INCREMENT,
  `nombre_completo` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `numero_empleado` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado` tinyint(1) NOT NULL DEFAULT '1',
  `fecha_registro` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_operador`),
  UNIQUE KEY `numero_empleado` (`numero_empleado`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `operadores`
--

LOCK TABLES `operadores` WRITE;
/*!40000 ALTER TABLE `operadores` DISABLE KEYS */;
/*!40000 ALTER TABLE `operadores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `relevos`
--

DROP TABLE IF EXISTS `relevos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `relevos` (
  `id_relevo` int unsigned NOT NULL AUTO_INCREMENT,
  `fecha_operativa` date NOT NULL,
  `turno` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_supervisor` int unsigned NOT NULL,
  `id_operador` int unsigned NOT NULL,
  `id_maquina` int unsigned NOT NULL,
  `hora_inicio` time NOT NULL,
  `hora_fin` time NOT NULL,
  `horas_operativas` decimal(5,2) DEFAULT NULL,
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `fecha_registro` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_relevo`),
  KEY `id_supervisor` (`id_supervisor`),
  KEY `id_operador` (`id_operador`),
  KEY `id_maquina` (`id_maquina`),
  CONSTRAINT `relevos_ibfk_1` FOREIGN KEY (`id_supervisor`) REFERENCES `supervisores` (`id_supervisor`),
  CONSTRAINT `relevos_ibfk_2` FOREIGN KEY (`id_operador`) REFERENCES `operadores` (`id_operador`),
  CONSTRAINT `relevos_ibfk_3` FOREIGN KEY (`id_maquina`) REFERENCES `maquinas` (`id_maquina`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `relevos`
--

LOCK TABLES `relevos` WRITE;
/*!40000 ALTER TABLE `relevos` DISABLE KEYS */;
/*!40000 ALTER TABLE `relevos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reportes_historial`
--

DROP TABLE IF EXISTS `reportes_historial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reportes_historial` (
  `id_historial` int unsigned NOT NULL AUTO_INCREMENT,
  `id_usuario` int unsigned DEFAULT NULL,
  `usuario` varchar(100) NOT NULL,
  `rol` varchar(50) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `periodo` varchar(20) NOT NULL,
  `fecha_generacion` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_historial`),
  KEY `idx_reportes_historial_fecha` (`fecha_generacion`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reportes_historial`
--

LOCK TABLES `reportes_historial` WRITE;
/*!40000 ALTER TABLE `reportes_historial` DISABLE KEYS */;
/*!40000 ALTER TABLE `reportes_historial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supervisores`
--

DROP TABLE IF EXISTS `supervisores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supervisores` (
  `id_supervisor` int unsigned NOT NULL AUTO_INCREMENT,
  `nombre_completo` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `estado` tinyint(1) NOT NULL DEFAULT '1',
  `fecha_registro` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_supervisor`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supervisores`
--

LOCK TABLES `supervisores` WRITE;
/*!40000 ALTER TABLE `supervisores` DISABLE KEYS */;
INSERT INTO `supervisores` VALUES (1,'Damazo Ake',1,'2026-07-22 02:27:25'),(2,'Erick Noe Pacheco',1,'2026-07-22 02:27:25'),(3,'Marcos Castillo',1,'2026-07-22 02:27:25');
/*!40000 ALTER TABLE `supervisores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipos_eventos`
--

DROP TABLE IF EXISTS `tipos_eventos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipos_eventos` (
  `id_tipo_evento` int unsigned NOT NULL AUTO_INCREMENT,
  `nombre_evento` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nivel_riesgo` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_tipo_evento`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipos_eventos`
--

LOCK TABLES `tipos_eventos` WRITE;
/*!40000 ALTER TABLE `tipos_eventos` DISABLE KEYS */;
INSERT INTO `tipos_eventos` VALUES (1,'Bostez├│','Indicador de posible fatiga del operador','Medio',1),(2,'Distracci├│n','El operador desv├¡a su atenci├│n de la operaci├│n','Alto',1),(3,'Fatiga','Indicador de fatiga durante la operaci├│n','Cr├¡tico',1),(4,'Uso de tel├®fono','Uso de tel├®fono celular durante la operaci├│n','Alto',1),(5,'Uso de cigarro','Consumo de cigarrillo durante la operaci├│n','Alto',1),(6,'Obstrucci├│n de c├ímara','La c├ímara se encuentra obstruida o cubierta','Alto',1);
/*!40000 ALTER TABLE `tipos_eventos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id_usuario` int unsigned NOT NULL AUTO_INCREMENT,
  `nombre_usuario` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `usuario` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `rol` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `estado` tinyint(1) NOT NULL DEFAULT '1',
  `fecha_creacion` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `usuario` (`usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES (1,'Administrador SIGMA','admin','$2y$10$BEN17s6ikMRRIFkW790IM.mTQ98YjUnroqPfBdjPe6GJ7B4lSjPPS','administrador',1,'2026-08-15 07:09:44'),(2,'Gerente SIGMA','gerente','$2y$10$Tlc27Xohu3.LlKGFclTP0eoc9NH33c5hsYdOLUsibtA1qHj8bcGpG','gerente',1,'2026-08-15 09:45:15'),(3,'Recursos Humanos','rrhh','$2y$10$9E/JV8o6diuAx5iTzkj1JOcvP0.fNeJjgq3tp0f2Nb/82sYi2cokS','rh',1,'2026-08-15 09:52:38');
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-15  9:56:26
